button {
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    box-shadow: 0 0 8px rgb(0, 100, 0);
}

button:hover {
    box-shadow: inset 0 0 8px #f9f8fc;
    cursor: pointer;
}

.main-page-button {
    display: block;
}

.bordered {
    border: 1px solid black;
}
