#user-fav-animal:focus {
    outline: 1px solid black;
    animation: flowing-background 500ms ease-in-out;
}

:required {
    border: 3px dotted black;
}

:invalid {
    border: 2px solid red;
}

form :valid[type='text'] {
    background: #1dff1975;
}

@keyframes flowing-background {
    0% {
        background: linear-gradient(90deg, #fff 0%, #e50b0b);
    }
    25% {
        background: linear-gradient(90deg, #fff 25%, #e50b0b);
    }
    50% {
        background: linear-gradient(90deg, #fff 50%, #e50b0b);
    }
    75% {
        background: linear-gradient(90deg, #fff 75%, #e50b0b);
    }
    100% {
        background: linear-gradient(90deg, #fff 100%, #e50b0b);
    }
}
