<!DOCTYPE html>
<html>
    <head>
        <script src="../../index.js"></script>
        <link href="../../styles.css" rel="stylesheet" />
        <link href="grid.css" rel="stylesheet" />
    </head>
    <body>
        <button class="main-page-button" onclick="goToMainPage()">
            Go to main page
        </button>
        <button class="main-page-button" onclick="goToLayout()">
            Go back to layout
        </button>

        <p>Below is the most basic grid (just container specified as grid).</p>
        <div id="basic-grid-example"></div>

        <p>
            Here we have grid with templated two 2 rows, 3 columns and 7 items.
        </p>
        <div id="grid-with-rows-and-columns-example"></div>

        <div id="grid-content-sizing">
            <h2>Content/intrinsic sizing</h2>
            <h3><code>min-content</code></h3>
            <div id="grid-with-min-content-example"></div>
            <h3><code>max-content</code></h3>
            <div id="grid-with-max-content-example"></div>
            <h3><code>fit-content(4rem)</code></h3>
            <div id="grid-with-fit-content-example"></div>
        </div>

        <h2>The <code>fr</code> unit</h2>
        <p>
            <code>fr</code> unit shares left space between elements. Here we
            have three columns and the have been set up like
            <code>1fr 1fr 4fr</code>
        </p>
        <div id="fr-unit-example"></div>

        <h2><code>repeat</code> function</h2>
        <p>
            <code>repeat</code> function allows to repeat column definitions, if
            they're the same for concise syntax. It can be used to repeat any
            declaration of tracks in grid, here we used
            <code>repeat(2, 1fr 2fr 3fr)</code>
        </p>
        <div id="repeat-example"></div>

        <h3><code>auto-fill</code></h3>
        <p>
            Use <code>repeat(auto-fill, ...)</code> for more responsive UI:
            columns will be created as needed, if there will space to accomodate
            more columns of given width (in the definition). It also will reduce
            columns, if they exceed the container. So, just as many as possible.
        </p>
        <div id="repeat-auto-fill-example"></div>
        <h3><code>auto-fit</code></h3>
        <div id="repeat-auto-fit-example"></div>

        <script>
            function addItemsToContainer(containerId, count, content) {
                fallbackContent = function (index) {
                    return content ? `${content} ${index}` : `Item ${index}`
                }
                for (let i = 1; i <= count; i++) {
                    createElementAndAppendById(
                        'div',
                        fallbackContent(i),
                        containerId
                    )
                }
            }

            addItemsToContainer('repeat-auto-fit-example', 20)
            addItemsToContainer('repeat-auto-fill-example', 20)
            addItemsToContainer('repeat-example', 20)
            addItemsToContainer('fr-unit-example', 7)
            addItemsToContainer('basic-grid-example', 7)
            addItemsToContainer('grid-with-rows-and-columns-example', 7)
            addItemsToContainer(
                'grid-with-min-content-example',
                7,
                'Very, very long text'
            )
            addItemsToContainer(
                'grid-with-max-content-example',
                7,
                'Very, very long text'
            )
            addItemsToContainer(
                'grid-with-fit-content-example',
                7,
                'Very, very long text'
            )
        </script>
    </body>
</html>
