#responsive-design-header:is(:focus, :target) {
    border-top: 3px dotted lightblue;
    border-left: 3px dotted lightblue;
}

#responsive-design-header:is(:focus, :hover, :target) {
    text-shadow: 3px 3px 3px lightblue;
    border-bottom: 4px solid lightblue;
    line-height: 105%;
}

#responsive-design-header {
    height: 3rem;
    box-sizing: border-box;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    transition-property: border-bottom-width, line-height;
    border-bottom: 2px solid lightblue;
    background-image: url(../images/responsive-design.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

button.menu {
    color: blue;
    background-color: var(--color-off-white);
    border-color: var(--color-mid);
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 0.5em;
    border-radius: 0.25em;
    display: flex;
    gap: 0.5em;
    align-items: center;
}

button.menu rect {
    fill: blue;
}

button.menu:hover,
button.menu:focus {
    background-color: var(--color-light);
    color: red;
}

button.menu:hover rect,
button.menu:focus rect {
    fill: red;
}
